/*////////////////*/
/*//////Fonts/////*/
/*////////////////*/

@font-face {
  font-family: Blender;
  src: url(./Assets/fonts/BlenderPro-Medium.ttf);
}

@font-face {
  font-family: Blender;
  src: url(./Assets/fonts/BlenderPro-Heavy.ttf);
  font-weight: bold;
}

@font-face {
  font-family: Bookshelf;
  src: url(./Assets/fonts/BSSYM7.TTF);
}

body{
  background-image: url("./Assets/BG.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  font-family: Blender;
  overflow: hidden;
  margin: 0;
}

/*////////////////*/
/*///Characters///*/
/*////////////////*/

#QR{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  width:auto;
  height: 80%;
  opacity: 0;
  z-index: 1;
  transition: .5s;
}

#character{
  position: absolute;
  left: 20%;
  bottom: 10%;
  width: 20%;
  height: 25%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transition: .5s;
  cursor: pointer;
}

#choosecharacter{
  position: absolute;
  width: 20%;
  height: 25%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transition: 1s;
  bottom: 10%;
  opacity: 0;
  cursor: pointer;
}

#characterTag{
  position: absolute;
  width: 6%;
  height: 10%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transition: 1s;
  bottom: 40%;
  opacity: 0;
}

.Eo{
  font-family: Bookshelf;
}

.one{
  left: 15%;
}

.two{
  left: 40%;
}

.oneEo{
  background-image: url("./Assets/Buttons/Eo.png")
}

.twoNeutrum{
  background-image: url("./Assets/Buttons/Neutrum.png")
}

/*////////////////*/
/*////Dialogues///*/
/*////////////////*/

#dialogueBox{
  position: relative;
  top: 0%;
  right: 0%;
  width: 30vw;
  height: 39.5vw;
  background-image: url("./Assets/dialogue-box.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  box-shadow: 0 0 30px 3px rgba(255, 255, 255, 0.3);
  transition: 1s;
}

#textHolder{
  position: relative;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 90%;
  height: 90%;
  overflow-y: auto;
  overflow-x: hidden;
}

#textHolder::-webkit-scrollbar-track {
  background-color: gray;
  opacity: 0;
}

#textHolder::-webkit-scrollbar {
  width: 3px;
  background-color: gray;
  height: 80%;
}

#textHolder::-webkit-scrollbar-thumb {
  background-color: #fff;
  box-shadow: 0 0 30px 3px rgba(255, 255, 255, 0.3);
}

#dialogueBoxHolder{
  position: absolute;
  top: 50%;
  right: -10%;
  width: 30vw;
  height: 0vw;
  transform: translate(-50%,-50%);
  overflow:hidden;
  transition: 1s;
}

#selfDialogue{
  color: white;
  width: 80%;
  margin-left: 40px;
  text-align: left;
}

#characterDialogue{
  color: #fdc82d;
  width: 80%;
  margin-left: 40px;
  text-align: right;
}

#finalDialogue{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

#progressDialogue{
  position: absolute;
  top: 10%;
  left: 10%;
}

.dialogue{
  font-size: 18px;
}

/*////////////////*/
/*/////Loading////*/
/*////////////////*/

#loading{
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  height: 100%;
  transition: 1s;
  transform: translate(-50%,-50%);
}

#loading1{
  position: absolute;
  top: 50%;
  left: 50%;
  height: 25%;
  width: 25%;
  opacity: 0;
  transform: translate(-50%,-50%);
  background-image: url('./Assets/Loading/Logo.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  transition: 1s;
}

#loading2{
  position: absolute;
  top: 50%;
  left: 50%;
  height: 10%;
  width: 10%;
  transform: translate(-50%,-50%);
  background-image: url('./Assets/Loading/blue_dot.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  transition: 1s;
}

#pLoading{
  position: absolute;
  top: 53%;
  color: white;
  left: 50%;
  transform: translateX(-50%);
  font-size: 30px;
  transition: .5s;
  text-shadow: 0 0 10px #fff;
}
/*////////////////*/
/*/////Buttons////*/
/*////////////////*/

#continueButton{
  position: absolute;
  left: 31%;
  top: 50%;
  transform: translate(-50%,-50%);
  border: 1px solid white;
  border-radius: 5px;
  color: black;
  background-color: rgba(255, 255, 255, 50);
  transition: .5s;
}

#introductionButton{
  position: absolute;
  left: 50%;
  top: 50%;
  width: 20%;
  height: 30%;
  transform: translate(-50%,-50%);
  background-image: url('./Assets/Logo.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

#choiceOne{
  position: absolute;
  left: 11%;
  top: 35%;
  transform: translate(-50%,-50%);
}

#choiceTwo{
  position: absolute;
  left: 31%;
  top: 35%;
  transform: translate(-50%,-50%);
}

#choiceThree{
  position: absolute;
  left: 50%;
  top: 35%;
  transform: translate(-50%,-50%);
}

#continueButtonCenter{
  position: absolute;
  left: 50%;
  top: 80%;
  transform: translate(-50%,-50%);
  border: 1px solid white;
  border-radius: 5px;
}

.button{
  background-color: Transparent;
  color: white;
  cursor: pointer;
  padding: 10px;
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
  transition: 0.3s;
}

.button:hover{
  opacity: 1;
}

.visual{
  font-size: 0;
  width: 16%;
  height: 30%;
  background-position: center;
  animation: totems_animation 1.5s linear infinite alternate;
  animation-timing-function: ease-in-out;
  opacity: 0;
  transition: 1s;
}

.visual:hover{
  height: 34%;
  width: 18%;
}

/*////////////////*/
/*///////Text/////*/
/*////////////////*/

#appearingText{
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translate(-50%,-50%);
  width: 70%;
  color: white;
  font-size: 30px;
  text-shadow: 0 0 10px #fff;
  text-align: center;
  opacity: 0;
  transition: .5s;
}

.bold{
  font-weight: bold;
  font-family: Blender;
}

/*////////////////*/
/*//////Videos////*/
/*////////////////*/

#appearingVideo{
  position: absolute;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100%;
  background-color: white;
  opacity: 1;
  z-index: 2;
  transition: 1s;
}

#videobackground{
  position: absolute;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 1;
  z-index: 1;
}

#video{
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width:100%;
  height:auto;
  z-index:-1;
  min-height: 100vh;
  opacity: 1;
  transition: 1s;
}

#videoContainer{
  position: absolute;
  width: 0%;
  height: 0%;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  filter: blur(4px);
  overflow:hidden;
}

/*////////////////*/
/*////Animation///*/
/*////////////////*/

.loadAnimation{
  animation: loading_animation 1s linear infinite;
  animation-timing-function: ease-in-out;
}

.loadAnimation2{
  animation: glow 1s linear infinite alternate;
  animation-timing-function: ease-in-out;
}

.turnOn{
  animation: turnOn 1.5s linear;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes totems_animation {
  from {top: 30%;}
  to {top: 35%;}
}

@keyframes loading_animation {
  from {transform: translate(-50%,-50%) rotate(0deg);}
  to {transform: translate(-50%,-50%) rotate(360deg);}
}

@keyframes glow {
  from {text-shadow: 0 0 10px #fff;}
  to {text-shadow: 0 0 20px #fff;}
}

@keyframes turnOn {
  0% {height: 0%; width: 0%; filter: blur(4px);}
  30% {height: .5%; width: 100%; filter: blur(2px);}
  70% {height: 100%; width: 100%; filter: blur(1px);}
  100% {height: 100%; width: 100%; filter: blur(0px);}
}
